<%- model_class = Cadet -%>
<div class="page-header">
  <h1><%=t '.title', :default => Cadet %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:password) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:surname) %></th>
      <th><%= model_class.human_attribute_name(:street) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%= model_class.human_attribute_name(:institution) %></th>
      <th><%= model_class.human_attribute_name(:tshirtsize) %></th>
      <th><%= model_class.human_attribute_name(:formalshirtsize) %></th>
      <th><%= model_class.human_attribute_name(:waistsize) %></th>
      <th><%= model_class.human_attribute_name(:shoesize) %></th>
      <th><%= model_class.human_attribute_name(:hipsize) %></th>
      <th><%= model_class.human_attribute_name(:suitjacketsize) %></th>
      <th><%= model_class.human_attribute_name(:dresssize) %></th>
      <th><%= model_class.human_attribute_name(:gender) %></th>
      <th><%= model_class.human_attribute_name(:age) %></th>
      <th><%= model_class.human_attribute_name(:language) %></th>
      <th><%= model_class.human_attribute_name(:eyecolour) %></th>
      <th><%= model_class.human_attribute_name(:race) %></th>
      <th><%= model_class.human_attribute_name(:height) %></th>
      <th><%= model_class.human_attribute_name(:weight) %></th>
      <th><%= model_class.human_attribute_name(:haircolour) %></th>
      <th><%= model_class.human_attribute_name(:weekdays) %></th>
      <th><%= model_class.human_attribute_name(:weekends) %></th>
      <th><%= model_class.human_attribute_name(:afterhours) %></th>
      <th><%= model_class.human_attribute_name(:publicholidays) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @cadets.each do |cadet| %>
      <tr>
        <td><%= cadet.id %></td>
        <td><%= cadet.email %></td>
        <td><%= cadet.password %></td>
        <td><%= cadet.name %></td>
        <td><%= cadet.surname %></td>
        <td><%= cadet.street %></td>
        <td><%= cadet.city %></td>
        <td><%= cadet.country %></td>
        <td><%= cadet.institution %></td>
        <td><%= cadet.tshirtsize %></td>
        <td><%= cadet.formalshirtsize %></td>
        <td><%= cadet.waistsize %></td>
        <td><%= cadet.shoesize %></td>
        <td><%= cadet.hipsize %></td>
        <td><%= cadet.suitjacketsize %></td>
        <td><%= cadet.dresssize %></td>
        <td><%= cadet.gender %></td>
        <td><%= cadet.age %></td>
        <td><%= cadet.language %></td>
        <td><%= cadet.eyecolour %></td>
        <td><%= cadet.race %></td>
        <td><%= cadet.height %></td>
        <td><%= cadet.weight %></td>
        <td><%= cadet.haircolour %></td>
        <td><%= cadet.weekdays %></td>
        <td><%= cadet.weekends %></td>
        <td><%= cadet.afterhours %></td>
        <td><%= cadet.publicholidays %></td>
        <td><%=l cadet.created_at, format: :long %></td>
        <td>
          <%= link_to cadet_path(cadet), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to cadet_path(cadet), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_cadet_path,
            :class => 'btn btn-primary' %>
