<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @cadet.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @cadet.password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cadet.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @cadet.surname %>
</p>

<p>
  <strong>Street:</strong>
  <%= @cadet.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @cadet.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @cadet.country %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @cadet.institution %>
</p>

<p>
  <strong>Tshirtsize:</strong>
  <%= @cadet.tshirtsize %>
</p>

<p>
  <strong>Formalshirtsize:</strong>
  <%= @cadet.formalshirtsize %>
</p>

<p>
  <strong>Waistsize:</strong>
  <%= @cadet.waistsize %>
</p>

<p>
  <strong>Shoesize:</strong>
  <%= @cadet.shoesize %>
</p>

<p>
  <strong>Hipsize:</strong>
  <%= @cadet.hipsize %>
</p>

<p>
  <strong>Suitjacketsize:</strong>
  <%= @cadet.suitjacketsize %>
</p>

<p>
  <strong>Dresssize:</strong>
  <%= @cadet.dresssize %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @cadet.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @cadet.age %>
</p>

<p>
  <strong>Language:</strong>
  <%= @cadet.language %>
</p>

<p>
  <strong>Eyecolour:</strong>
  <%= @cadet.eyecolour %>
</p>

<p>
  <strong>Race:</strong>
  <%= @cadet.race %>
</p>

<p>
  <strong>Height:</strong>
  <%= @cadet.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @cadet.weight %>
</p>

<p>
  <strong>Haircolour:</strong>
  <%= @cadet.haircolour %>
</p>

<p>
  <strong>Weekdays:</strong>
  <%= @cadet.weekdays %>
</p>

<p>
  <strong>Weekends:</strong>
  <%= @cadet.weekends %>
</p>

<p>
  <strong>Afterhours:</strong>
  <%= @cadet.afterhours %>
</p>

<p>
  <strong>Publicholidays:</strong>
  <%= @cadet.publicholidays %>
</p>

<%= link_to 'Edit', edit_cadet_path(@cadet) %> |
<%= link_to 'Back', cadets_path %>
